*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
img {
  object-fit: contain;
  max-width: 100%;
}
ul {
  list-style-type: none;
}
button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}
