@use "../../sass/utilities/variables" as var;

.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var.$white;

  padding-block: 1.6rem;
  border-block: 2px solid var.$gray-200;
}

.right_side {
  display: flex;
  gap: 2.5rem;
}
