// Colors
$white: #ffffff;
$dark: #1c1c1c;
$gray-600: #505050;
$gray-500: #8b96a5;
$gray-400: #bdc4cd;
$gray-300: #dee2e7;
$gray-200: #eff2f4;
$gray-100: #f7fafc;
$primary: #0d6efd;
$primary-gradient: linear-gradient(180deg, #127fff 0%, #0067ff 100%);
$green: #00b517;
$orange: #ff9017;
$red: #fa3434;

//Shadows
$shadow-md: 0px 1px 2px rgba(56, 56, 56, 0.25);
$shadow-sm: 0px 1px 2px rgba(56, 56, 56, 0.08);
$shadow-lg: 0px 2px 8px rgba(80, 80, 80, 0.2);
