@use "../sass/utilities/variables" as var;

.search_container {
  display: flex;
  border: 2px solid var.$primary;
  border-radius: 6px;
  flex-basis: 50%;

  overflow: hidden;

  & input {
    padding-block: 1rem;
    padding-inline: 1rem 0.5rem;
    border: 0;
    border-right: 1px solid var.$primary;
    flex-basis: 60%;

    &:focus {
      outline: 0;
    }
  }
}

.dropdown {
  padding-block: 1rem;
  padding-inline: 1rem 0.5rem;
  color: var.$dark;
  background-color: var.$white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 20%;
}

.cta {
  padding-inline: 2rem;
  padding-block: 1rem;
  background: var.$primary-gradient;
  color: var.$white;
  flex-basis: 21%;
}
